set timeout=10
set default=0

insmod gfxterm
terminal_output gfxterm
terminal_input console

menuentry "METRO OS v0.5 BUILD ID: D34DR00M-1.5.5 - Live Shell" {
    set gfxpayload=keep
    multiboot /boot/metro.bin
    boot
}

menuentry "METRO OS v0.5 BUILD ID: D34DR00M-1.5.5 - Safe Mode" {
    set gfxpayload=text
    multiboot /boot/metro.bin
    boot
}

